@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

:root {
  --white: white;
  --black: black;
  --gray: #878787;
  --purple: #4361fc;
  --background-white: #f9f9f9;
  font-family: Poppins;
}

::placeholder {
  color: var(--gray);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 28px;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  margin-top: 28px;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  margin-top: 0px;
}

h3 {
  margin-top: -20px;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3 {
  color: var(--black);
  font-style: normal;
  line-height: normal;
}

.submitButton {
  height: 60px;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
  background: var(--purple);
  color: white;
  border-radius: 8px;
  border: 0.6px solid var(--purple);
  margin-top: 80px;
}
